* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 1rem;
}

.menu {
    height: 5vh;
    outline: 1px solid red;
}

.books {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.book {
    padding: 1rem;
    margin: 1rem;

    background-color: orange;
    border: 3px solid black;
    border-radius: 10px;

}
