* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 1rem;
}

.menu {
    height: 5vh;
    display: flex;
    align-items: center;
}

.menu button {
    padding: 0.5rem;
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 10px;
}

.menu dialog {
    justify-self: center;
    align-self: center;

    padding: 1rem;
    border-radius: 10px;
}

.menu dialog form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu dialog form:first-child {
    align-self: center;
}

.books {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.book {
    padding: 1rem;
    margin: 1rem;

    background-color: orange;
    border: 3px solid black;
    border-radius: 10px;
}

.book button {
    padding: 0.5rem;
    background-color: red;
    border: 3px solid black;
    border-radius: 10px;
}